{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/clients/detail.css' %}">
{% endblock %}

{%block content %}
<main>
    <div class="user-details">
        <h1>User Details</h1>
        
        <div class="user-info">
            <div class="info-item">
                <strong>Name:</strong> <span>{{ user.name }}</span>
            </div>
            <div class="info-item">
                <strong>Email:</strong> <span>{{ user.email }}</span>
            </div>
            <div class="info-item">
                <strong>Age:</strong> <span>{{ user.age }}</span>
            </div>
            <div class="info-item">
                <strong>RFC:</strong> <span>{{ user.rfc }}</span>
            </div>
            <div class="info-item">
                <strong>Photo:</strong> <img src="{{ user.photo }}" alt="User Photo" class="user-photo">
            </div>
            <div class="info-item">
                <strong>Created Date:</strong> <span>{{ user.created_date }}</span>
            </div>
            <div class="info-item">
                <strong>Updated Date:</strong> <span>{{ user.updated_date }}</span>
            </div>
        </div>
    </div>
</main>

{% endblock %}