{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/clients/clients.css' %}">
{% endblock %}

{%block content %}
<div class="container-main">

    <div class="sub-contain">
        <h1>{{titulo}}</h1>

    <div class="grid-container">

        {%for item in users %}
            <!-- {% include 'components/UserCard.html' with name=item.name email=item.email id=item.id %} -->
            <div class="block">
                <a href="{% url 'UserDetail' item.id %}">
                    <img src={{item.photo}} alt="Imagen del usuario">
                </a>
                <div class="info-block">
                    <h3>{{item.name}}</h3>
                    <div class="micro-block">
                        <p><b>ID:</b> {{item.id}}</p>
                        <p><b>AGE:</b> {{item.age}}</p>
                    </div>
                    <a href="{% url 'updateUserView' item.id %}">
                    <h3>Ver (modificar)</h3>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
    </div>
    


</div>
{%endblock%}