{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/boletos.css' %}">
{% endblock %}

{%block content %}

{% if boleto_completo %}
    <h1>Boletos</h1>
    <br>

    <div class="boletos">
            {% for item in boleto_completo %}
            {% include 'components/boleto.html' with numero=forloop.counter precio=item.boleto.precio localidad=item.localidad.name %}    
            {% endfor %}
    </div>

{% else %}
    <h2>Sin boletos disponibles</h2>
{% endif %}

{% endblock %}