{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/boletos.css' %}">
{% endblock %}

{%block content %}
<div class="boletos">

    {% for item in boleto_completo %}
    <div class="boleto">
        <img src="https://img.freepik.com/vector-gratis/plantilla-invitacion-fiesta-degradada-celebracion-carnaval_23-2150024215.jpg?t=st=1740765961~exp=1740769561~hmac=4308d5bc6262b6f1975c6c2b690235857fcc2fe6792a1b73a4fc873dfedd17a1&w=740" alt="">
        <h2><strong>Boleto {{ forloop.counter }}</strong></h2>
        <p>Localidad: {{item.localidad.name}}</p>
        <p>Precio: ${{item.boleto.precio}}</p>
        <a class="boton" href="{% url 'index' %}">Comprar</a>
    </div>    
    {% endfor %}
    
</div>
{% endblock %}