{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}">
{% endblock %}

{%block content %}
<h1>Eventos</h1>
<div class="titulo">
    <a class="boton_addition" href="{% url 'create_evento' %}">Agregar evento</a>
</div>


<div class="eventos">

    {% for item in eventos_localidades %}
        <div class="evento">
            {% include 'components/evento.html' with name=item.evento.name localidad=item.localidad.name id=item.evento.id %}
        </div>
    {% endfor %}
    
</div>
{% endblock %}