{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}

{%block content %}

<h1>Productos</h1>
<div class="titulo">
    <a class="boton_addition" href="{% url 'create_producto' %}">Agregar producto</a>
</div>
<br>

<div class="boletos">

    {% for item in producto_completo %}
    {% include 'components/producto.html' with nombre=item.producto.name precio=item.producto.precio localidad=item.localidad.name %}    
    {% endfor %}

</div>
{% endblock %}