{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{%block content %}

    <div class="images">
        <img src="https://img.freepik.com/vector-gratis/fondo-plano-celebracion-carnaval-barranquilla_23-2151146806.jpg?t=st=1740759596~exp=1740763196~hmac=8a21a0f0e88adbf0b66fcb4743ee54b086477133de2fdb1231f52fba039c9470&w=1380" alt="">
        <img src="https://img.freepik.com/vector-gratis/carnaval-brasileno-colorido-realista_23-2148408877.jpg?t=st=1740759914~exp=1740763514~hmac=1f27331643fb72c3723d2968ebfd6a2540859bff75bdc0a08fe3877aaffe6802&w=1380" alt="">
        <div class="micro-hero">
            <img class="mini-hero" src="https://img.freepik.com/vector-gratis/plantilla-volante-carnaval-brasileno-realista_52683-53830.jpg?t=st=1740759786~exp=1740763386~hmac=e46ad4de324a30a722112be2046c98507efa24d065f0d1ec7a23ea14a4d3f446&w=740" alt="">
            <img class="mini-hero" src="https://img.freepik.com/psd-gratis/plantilla-redes-sociales-bienvenida-al-carnaval_220664-5244.jpg?t=st=1740759770~exp=1740763370~hmac=3965c24dbcc8c9d1da675e64dae1b1f10301ffedc9b7be2a76112de85517c8cc&w=740" alt="">
        </div>
        <img src="https://img.freepik.com/vector-gratis/letras-carnaval-dibujadas-accesorios-bigote-gafas_23-2148431681.jpg?t=st=1740761110~exp=1740764710~hmac=4978279bfccf31b64648545340d9cc09d14e4ab89141de9258d29380b51c1f50&w=1380" alt="">
    </div>

    <br>
    <br>

    <div class="noticias">
        <div class="head-not">
            <h1>NOTICIAS</h1>
        </div>
        <div class="body-not">
            <div class="las-noticias">
                <div class="nota">
                    <img src="https://img.freepik.com/psd-gratis/logotipo-carnaval-3d-promociones-carnaval-brasil_314999-3577.jpg?t=st=1740761415~exp=1740765015~hmac=87ea1ddedcf7e45792948ca0bb709d5f607624895b06ce8213b131ecdfba1327&w=1380" alt="">
                    <h2 class="titulo">Los escolares de Alcoy visten de color y humor la ciudad con los desfiles de carnaval</h2>
                    <p>Los estudiantes de Alcoy están celebrando el carnaval este viernes, llenando de color y diversión las calles de la ciudad. Desde temprano, los alumnos de infantil y primaria de distintos colegios han desfilado luciendo disfraces que han creado o seleccionado para la ocasión. Instituciones como el CEIP El Romeral, junto a los colegios San Vicent, Miguel Hernández, Horta Major, Carmelitas, Esclavas, la escuela infantil Partidor y el centro Tomás Llàcer participaron en los recorridos matutinos. En la tarde, se esperan más desfiles de carnaval entre las 15 y 17 horas en los alrededores de los colegios José Arnauda, Salesianos San Vicente Ferrer y las escuelas infantiles Sol Solet, Jesuset del Miracle, Batoy y Garabatos Natura.</p>
                </div>
                <div class="nota">
                    <img src="https://img.freepik.com/psd-gratis/festival-carnaval-3d-brasil-celebra-ano-2025_314999-3675.jpg?t=st=1740761574~exp=1740765174~hmac=a28025c7d8ab78506a0f2787bb3cb785ea7ec353026882584a47e133358440e8&w=1800" alt="">
                    <h2 class="titulo">Barcelona: una rúa de carnaval en cada barrio</h2>
                    <p>Barcelona se prepara para un fin de semana lleno de carnaval con desfiles en todos los barrios. Las primeras rúas comienzan el jueves en l'Eixample, el Gòtic y el Raval. Los expertos recomiendan asistir a Sitges para la Rua d'Antes y la Rúa de la Disbauxa durante el domingo. Vilanova i la Geltrú también tendrá su tradicional carnaval con el baile de 'malcasats' el sábado al mediodía. Además, el evento FANGO regresa a la Plaza de Toros con música, food trucks y actividades familiares. El parque del Tibidabo reabre con el 'Tibicarnaval' y organizará una chocolatada para los asistentes. Asimismo, el Let's Festival comienza en l'Hospitalet con conciertos de bandas como Amor Líquido y Elefantes.</p>
                </div>
            </div>
            <div class="eventos">

                {% for item in eventos_localidades %}
                    <div class="evento">
                        <div class="img">
                            <img src="https://img.freepik.com/vector-gratis/concepto-carnaval-diseno-plano_23-2148432754.jpg?t=st=1740762364~exp=1740765964~hmac=264d2023e32d7dba82641bfe15a4d7369c24b73fe06d27dfd5e78e8afd321539&w=900" alt="">
                        </div>
                        <div class="evento-nota">
                            <div class="titulo-event">
                                <h3>{{item.evento.name}}</h2>
                            </div>
                            <p><strong>Localidad:</strong> {{item.localidad.name}}</p>
                            <p><strong>Descripción:</strong></p>
                            <p>El Carnaval es una fiesta vibrante y llena de color, que se celebra en muchas culturas alrededor del mundo. Es un evento de alegría y diversión que combina desfiles, música, bailes, disfraces y tradiciones locales. Durante el carnaval, las calles se llenan de personas de todas las edades, quienes participan en una celebración desinhibida y festiva. Los participantes suelen vestirse con trajes elaborados y máscaras, mientras disfrutan de la música de bandas locales y las coreografías de las comparsas. Este evento simboliza la unión de las comunidades y la expresión de su creatividad, y marca un momento de diversión antes de la llegada de la temporada de Cuaresma en algunas culturas.</p>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>

{% endblock %}