{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/main/main.css' %}">
{% endblock %}

{%block content %}
<section class="hero">
    <div class="hero-text">
        <h1>Bienvenido Mi Página</h1>
        <p>No sé qué poner aquí 1</p>
        <a href="#cta" class="cta-button">Saber Más</a>
    </div>
</section>

<!-- Sección de Información -->
<section class="info">
    <h2>Pondré un texto random</h2>
    <div class="info-cards">
        <div class="info-card">
            <h3>The Winner Takes It All</h3>
            <p>The loser has to fall (has to fall)</p>
        </div>
        <div class="info-card">
            <h3>It's simple and it's plain</h3>
            <p>Why should I complain? (Why complain?)</p>
        </div>
        <div class="info-card">
            <h3>So the winner takes it all</h3>
            <p>And the loser has to fall</p>
        </div>
    </div>
</section>

<!-- Llamado a la acción (CTA) -->
<section id="cta" class="cta-section">
    <h2>Este link te lleva a un video</h2>
    <p>Picale para ver el video</p>
    <a href="https://youtu.be/Aaqc2jFcYO8?si=cJx85IAlbVfnIYWR" target="_blank" class="cta-button">Video</a>
</section>
{% endblock %}