{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/create/producto.css' %}">
{% endblock %}

{%block content %}

<div class="form-container">
    <h1>Agregar producto</h1>

    <div class="form">
        <form method="POST" id="create-evento-form">
            <input type="hidden" id="csrf_token" value="{{csrf_token}}">
            <label for="name">Nombre producto:</label><br>
            <input type="text" id="name" name="name" placeholder="Nombre producto" required><br>
    
            <label for="Precio">Precio:</label><br>
            <input type="number" id="precio" name="precio" step="0.01" required><br>
    
            <label for="localidad">Localidad:</label><br>
            <select id="localidad" name="localidad" required>
                {% for item in localidades %}
                    <option value={{item.name}}>{{item.name}}</option>
                {% endfor %}
            </select><br>
    
            {% if 10_o_mas %}
                <h2>Sólo se pueden enviar 10 datos al día</h2>
            {% else %}
                <button id="create-evento-button">Agregar</button>
            {% endif %}
        </form>
    </div>

</div>

<div class="eventos-agregados">
    <h1>Productos agregados hoy</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Localidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in productos_recientes %}
            <tr>
                <td>{{ item.producto.name }}</td>
                <td>{{ item.producto.precio }}</td>
                <td>{{ item.localidad.name }}</td>
                <td><button id="eliminar-btn" data-id="{{ item.producto.id }}">Eliminar</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}

{% block scripts %}
        <script>
            const PRODUCT_CREATE_URL = "{% url 'createProductoByFetch' %}";
            const PRODUCT_DELETE_URL = "{% url 'deleteProductByFetch' %}";
        </script>
        <script src="{% static 'js/productos.js' %}"></script>
{% endblock %}