{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<header>
<nav>
    <div class="separte">
        <p><a href="{% url 'index' %}" class="nav-item">Index</a></p>
    </div>
    <ul class="nav-list">
        <li><a href="{% url 'eventos' %}" class="nav-item">Eventos</a></li>
        <li><a href="{% url 'boletos' %}" class="nav-item">Boletos</a></li>
        <li><a href="{% url 'productos' %}" class="nav-item">Productos</a></li>
        <li><a href="{% url 'admin:index' %}" class="nav-item">Admin</a></li>
    </ul>
</nav>
</header>