<div class="img">
    <img src="https://img.freepik.com/vector-gratis/concepto-carnaval-diseno-plano_23-2148432754.jpg?t=st=1740762364~exp=1740765964~hmac=264d2023e32d7dba82641bfe15a4d7369c24b73fe06d27dfd5e78e8afd321539&w=900" alt="">
</div>
<div class="evento-nota">
    <div class="titulo-event">
        <h3>{{name}}</h3>
    </div>
    <p><strong>Localidad:</strong> {{localidad}}</p>
    <p><strong>Descripción:</strong></p>
    <p>El Carnaval es una fiesta vibrante y llena de color, que se celebra en muchas culturas alrededor del mundo. Es un evento de alegría y diversión que combina desfiles, música, bailes, disfraces y tradiciones locales. Durante el carnaval, las calles se llenan de personas de todas las edades, quienes participan en una celebración desinhibida y festiva. Los participantes suelen vestirse con trajes elaborados y máscaras, mientras disfrutan de la música de bandas locales y las coreografías de las comparsas. Este evento simboliza la unión de las comunidades y la expresión de su creatividad, y marca un momento de diversión antes de la llegada de la temporada de Cuaresma en algunas culturas.</p>
    <br>
    <a class="boton" href="{% url 'boletos_evento' id %}">Boletos</a>
</div>