main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 2.5rem;
}

h1{
    font-size: 25px;
}

.form-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form {
    padding: 5px;
    width: 90%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

label {
    font-size: 10px;
    color: #333;
    display: inline-block;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #6d6d6d;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

input[type="datetime-local"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

select {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
}

::placeholder {
    color: #898989;
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: #4c78af;
}

.form input, .form select, .form button {
    margin-bottom: 5px;
}

.eventos-agregados{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #333333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

table, th, td {
    border: 2px solid #000000;
}

#eliminar-btn{
    background-color: #e22c2c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-color: white;
}