
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #333;
}


.hero {
    background: #cda87b;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size: 1.2em;
}

.cta-button {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.1em;
}

.cta-button:hover {
    background-color: #ff4f3a;
}


.info {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.info h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.info-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.info-card {
    background-color: white;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.info-card h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.info-card p {
    font-size: 1em;
}


.cta-section {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 20px;
}